.card {
  position: relative;
  width: 318px;
  min-height: 416px;
  margin-bottom: 35px;
  margin-right: 32px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.image {
  width: 318px;
  height: 350px;
  object-fit: cover;
}

.link {
  &:after {
    content: '';
    position: absolute;
    inset: 0;
  }
}
